body {
   
    font-size: 20px;
    line-height: 27px;
    color: #2d2829;
    background-color: #F0F0F0;
    margin: 0;
    padding:0;
  font-family: "Evolventa", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.94px;
    
  }
  a{
    display:block;
    text-decoration: none;
    margin: 0;
    padding:0;
    color: rgba(39, 39, 39, 1)
   
  }
  li{
    list-style: none;
  }
 
  header{
    margin: 0;
    padding:0;
    width:1111px;
    margin: 0 auto;

  }
  .header-upper{
    margin: 0;
    padding:0;
display: flex;
margin-bottom: 31px;
margin-top: 23px;


}
.site-navigation-upper{
    margin: 0;
    padding:0;
    display: flex;
    justify-content:space-between;
   width: 897px;
    height: 49px;
    align-items:center;

}
.site-navigation-upper-naw{
  margin: 0;
  padding:0;
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 384px;
}
.site-navigation-upper-contacts{

  margin: 0;
  padding:0;
  margin-top: 16px;
  margin-left: auto;

}
.header-upper-logo{
margin-left:63px ;
margin-right: 58.52px;

}
.site-navigation-upper-contacts-phone a{
  display: flex;
justify-content:center;
  background-color:rgba(249, 93, 4, 1);
  border-radius: 5px;
  color: rgba(240, 240, 240, 1);
font-size: 16px;
line-height: 18.51px;
padding-top: 6px;
padding-bottom: 7px;
font-family: "Play", sans-serif;
margin-bottom: 5px;
width: 153px;
}
.site-navigation-upper-contacts-phoneorder a{
  display: flex;
  justify-content:center;
  background-color:rgba(72, 75, 82, 1);
  border-radius: 5px;
  color: rgba(240, 240, 240, 1);
  font-size: 16px;
line-height: 18.51px;
padding-top: 2px;
padding-bottom: 2px;
font-family: "Play", sans-serif;
width: 153px;
margin-bottom: 12px;
}
.site-navigation-upper-contacts-question{
    margin: 0;
    padding:0;
    display: flex;
    font-size: 10px;
    line-height:13px ;
    font-weight: 400;
   justify-content:space-between;
}
.site-navigation-upper-contacts-question a{
text-decoration:underline;
}
.site-navigation-upper-contacts-social{
    margin: 0;
    padding:0;
    display: flex;
    list-style: none;
    justify-content:space-between;
    width: 63px;
  
}
.header-lower{
  margin: 0;
  padding:0;
display: flex;
justify-content:space-between;
align-items:center;
margin-bottom: 80px;

}

.header-lower-catalog {
  display: flex;
justify-content:center;
align-items:center;
  background-color:rgba(249, 93, 4, 1);
  border-radius: 15px;
  color: rgba(240, 240, 240, 1);
  font-size: 18px;
  font-weight: 700;
line-height: 20.83px;
font-family: "Play", sans-serif;
height: 48px;
padding-left:20px ;
padding-right: 18px;

}
.header-lower-catalog img {
margin-left: 23px;

}
.header-lower-form-item{

  width: 496px;
  height: 48px;
  border-radius: 15px;
  border: 1px solid rgba(72, 75, 82, 1);
  font-family: "Evolventa", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.94px;
  padding-left: 20px;
}
.site-navigation-lower{
  margin: 0;
  padding:0;
  width: 381px;
  
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-left: 36px;
}

.site-navigation-lower-item a{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction:column;
  align-items:center;
 

}
.site-navigation-lower-item img{
  margin: 0;
  padding:0;
  margin: 0 auto;
  margin-bottom: 5px;
}
.site-navigation-lower-item p{
  display: block;
  margin: 0;
  padding:0;
  font-family: "Evolventa", serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.3px;


  
}

.hero{
  margin: 0;
  padding:0;
width:1111px;
height:517px;
background-image: linear-gradient(rgba(24, 23, 23, 0.73), rgba(24, 23, 23, 0.73)), url("../img/background-hero.jpg") ;
background-repeat: no-repeat;
border-radius: 50px;
margin: 0 auto;
margin-bottom: 110px;
display: flex;
flex-direction:column;

}
.hero-title{
  margin: 0;
  padding:0;
  display: flex;
margin-left: 40px;
margin-top: 123px;
flex-direction:column;
color: rgba(240, 240, 240, 1);

margin-bottom: 112px;

}
.hero-title-h1{
  margin: 0;
  padding:0;
  font-family: "Play", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.28px;

}
.hero-title-p{
  margin: 0;
  padding:0;
  font-size: 22px;
  font-weight: 400;
  line-height: 31.35px;

}
.hero-info {

  display: flex;
  justify-content:space-evenly;
  align-items:center;
  color: rgba(240, 240, 240, 1);
  margin-bottom: 42px;
 
}
.hero-info-item{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  height: 85px;
 


}
.hero-info-item p {
  margin: 0;
  padding:0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.94px;
  margin-top: auto;
 
  
}
.hero-info-item img{
  margin: 0;
  padding:0;
}
.hero-circles{
  margin: 0;
  padding:0;
width: 59.11px;
height: 13px;
align-self:center;
display: flex;
justify-content:space-between;
margin-bottom: 20px;
}
.hero-circles-item{
  margin: 0;
  padding:0;
width: 13.02px;
height: 13px;
background-color:rgba(240, 240, 240, 1) ;
border-radius: 50px;
}
.hero-circles-activ{
  background-color:rgba(249, 93, 4, 1) ;
}
.cards{
  margin: 0;
  padding:0;
    width:1111px;
    margin: 0 auto;



}
.cards-title{
  margin: 0;
  padding:0;
  text-align:center;
  margin-bottom: 70px;
  font-family: "Play", serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32.4px;
}
.card{
  margin: 0;
  padding:0;
  display: flex;
  justify-content:space-between;


}
.card-item{
  margin: 0;
  padding:0;
  box-sizing :border-box;
 width: 356px;
  padding: 20px;
  padding-bottom: 30px;
  background-color: rgba(248, 249, 250, 1);
  border-radius: 15px;

}
.card-item-img-div{
  margin: 0;
  padding:0;
height:180px;
display: flex;

margin-bottom: 20px;

}
.card-item-img{
  margin: 0;
  padding:0;
  margin: auto;
}
.card-item h3{
  margin: 0;
  padding:0;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.28px;
  margin-bottom: 5px;


}
.card-item-p{
  margin: 0;
  padding:0;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.3px;
  color: rgba(178, 178, 178, 1);
  margin-bottom: 11px;
}
   .stars{
    margin: 0;
    padding:0;
    display: flex;
    justify-content:space-between;
    margin-bottom: 21px;

   }
   .card-item-like{
    box-sizing :border-box;
    width: 62px;
    height: 22px;
    margin: 0;
    padding:0;
    display: flex;
    border: 0.5px solid rgba(72, 75, 82, 0.5);
    border-radius: 5px;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 10px;
   }
   .card-item-like span{
    align-self:center;
  background-color:  rgba(72, 75, 82, 0.5);
    width: 1px;
    height: 18px;
    justify-content:center;
    }
   .card-prise{
    display: flex;
    justify-content:space-between;
    height:50px;
    margin-bottom: 30px;
  
   }
   .card-prise-div-p{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    margin: 0;
    padding:0;
    
   }
   .card-prise-div-p p{
    display:block;
    margin: 0;
    padding:0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.28px;
    color:rgba(39, 39, 39, 1) ;
    
   }
   .card-prise-div-p p:last-child{
    font-size: 18px;
    font-weight: 700;
    line-height: 23.94px;
   }
  .card-prise-div-img{
    margin: 0;
    padding:0;
    display: flex;
    height: 21px;
    margin-top: auto;
    align-items:center;
   }
   .card-prise-div-img img{
    display:block;
    margin: 0;
    padding:0;
    margin-right: 5px;
   }
   .card-prise-div-img p{
    display:block;
    margin: 0;
    padding:0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.28px;
    color: rgba(39, 39, 39, 1);
   }
   .card-prise-orange-button{
    margin: 0;
    padding:0;
    height: 35px;;
    color: rgba(240, 240, 240, 1) ;
    background-color:rgba(249, 93, 4, 1) ;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: "Play", sans-serif ;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.83px;

   }
   .card-prise-white-button{
    margin: 0;
    padding:0;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: "Play", sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.83px;
    border: 2px solid rgba(72, 75, 82, 0.5);
   }
   .cards-circles{
    margin: 0;
    padding:0;
  width: 59px;
  height: 13px;
  display: flex;
  justify-content:space-between;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  }
  .cards-circles-item{
    margin: 0;
    padding:0;
  width: 13px;
  height: 13px;
  background-color:rgba(217, 217, 217, 1);
  border-radius: 50px;
  }
  .cards-circles-activ{
    background-color:rgba(249, 93, 4, 1) ;
  }
